<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:采用接口方式间接操作时，命名空间值：与映射接口的全限定名一致 -->
<mapper namespace="com.qyb.myprofile.mapper.ProfileMapper">
	
	<update id="update" parameterType="Profile">
		update profile set name=#{name},birthday=#{birthday},gender=#{gender},career=#{career},address=#{address},mobile=#{mobile} where id=#{id}
	</update>
	
	<select id="findById" parameterType="int" resultType="Profile">
		select * from profile where id=#{id}
	</select>
	
	<select id="find" resultType="Profile">
		select * from profile
	</select>
	
</mapper>